* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-size: 1.6rem;
}

.container-p {
  background-color: #ffffff;
}

.container {
  padding: 50px 12px;
  border: 1px solid black;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.box {
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
  /* border: 1px solid red; */
  border-radius: 4px;
  padding: 25px 42px 18px 42px;
}

.box p {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 123.6%;
  margin-top: 36px;
  text-align: center;
}

.image-holder {
  height: 70px;
  width: 70px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
  filter: drop-shadow(4px 5px 15px rgba(0, 0, 0, 0.4));
}

.image-holder img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.box:not(:last-child) {
  margin-bottom: 25px;
}

@media screen and (min-width: 640px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .box:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 80px 40px 120px;
    display: flex;
    gap: 24px;
  }

  .box {
    flex: 1;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 60px 135px 120px;
    gap: 30px;
  }
}
